* {
  font-size: 25px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.app-background {
  color: #1d1d1d;
  background-color: white;
  display: flex;
  min-height: 100vh;
}

.main-title{
  color: #1d1d1d;
  text-align: center;
  font-weight: 700;
  margin: 1rem 0rem;
}

.main-container {
  background-color: lightgray;
  width: 100%;
  height: min-content;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.35);
  margin: 1rem 3rem;
}

select{
  font-size: 20px;
  width: 150px;
  border-radius: 7px;
}

label {
  font-size: 20px;
  margin-right: 0.8rem;
}

.item-list {
  display: flex;
  flex-direction: column;
}

.item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 20px 0;
  border-bottom: 1px black solid;
}

.item-name {
  display: flex;
  align-items: flex-start;
}


.item-image {
  width: 150px;
  height: 150px;
}

.item-detail {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.item-detail h5, .item-detail p {
    margin: 0rem;
}

.item-action-buttons {
  /* width: 30%; */
  display: flex;
  justify-content: space-between;
}

.total {
  float: right;
  padding: 10px;
}

.quantity {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 50px;
  font-size: 12px;
  min-width: 80px;
  justify-content: space-between;
}

button {
  background: transparent;
  border: none;
  margin: 3px;
}
button:focus {
  outline: 0;
}

button:hover {
  cursor: pointer;
}

